{% extends "base.html" %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('bundled/status/oj-status.js') }}" data-stats-data-all="{{ url('stats_data_all') }}"></script>
    {% endcompress %}
    {% include "contest/media-js.html" %}
{% endblock %}

{% block media %}
    {% include "status/media-css.html" %}
    {% block content_media %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ static('vnoj/daterangepicker/daterangepicker.css') }}">
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'OJ' %}
    {% include "status/status-tabs.html" %}
{% endblock %}

{% block body %}
    <div id="daterange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
    </div>
    <table id="stats-table" class="table">
        <tr>
            <th colspan="2">{{ _('Submissions by Day') }}</th>
        </tr>
        <tr>
            <td colspan="2">
                <div id="by-day" style="height: 500px">
                    <canvas></canvas>
                </div>
            </td>
        </tr>
        <tr>
            <th>{{ _('Submissions by Language') }}</th>
            <th>{{ _('Submissions Result') }}</th>
        </tr>
        <tr>
            <td>
                <div id="by-language" style="display: flex; justify-content: center;">
                    <canvas width="400" height="300"></canvas>
                </div>
            </td>
            <td >
                <div id="result" style="display: flex; justify-content: center;">
                    <canvas width="550" height="300"></canvas>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2">{{ _('Queue Time') }}</th>
        </tr>
        <tr>
            <td colspan="2">
                <div id="queue-time">
                    <canvas></canvas>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2">{{ _('Organization Submissions/New Problems by Day') }}</th>
        </tr>
        <tr>
            <td colspan="2">
                <div id="org-by-day" style="height: 500px">
                    <canvas></canvas>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
