{% extends "base.html" %}
{% block media %}
    <link rel="stylesheet" href="{{ static('prebundled/timezone-map/timezone-map.css') }}">
    {{ form.media.css }}
    <style>
        .map-inset {
            background: url('{{ TIMEZONE_MAP }}') 50% 50%
        }

        .map-wrap {
            display: none
        }

        .featherlight .featherlight-content {
            min-width: 80%
        }
    </style>
{% endblock %}

{% block js_media %}
    {{ form.media.js }}
    <script src="{{ static('bundled/registration/profile-creation.js') }}"></script>
{% endblock %}

{% block body %}
    <form action="" method="post" class="form-area">
        {% csrf_token %}
        <table border="0" style="text-align:left">{{ form.as_table() }}</table>
        <input type="submit" style="float:right;" value="{{ _('Continue >') }}">
    </form>

    <div class="map-wrap">
        <div class="map-inset">
            <div class="map-axis-x"></div>
            <div class="map-axis-y"></div>
        </div>
    </div>
{% endblock %}
