{% extends "base.html" %}

{% block js_media %}
    {% compress js %}
        <script 
            src="{{ static('bundled/submission/source-diff.js') }}"
            data-first-source="{{ first_sub.source.source }}"
            data-second-source="{{ second_sub.source.source }}"
        ></script>
    {% endcompress %}
{% endblock %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="{{ static('vnoj/diff2html/github.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('vnoj/diff2html/diff2html.min.css') }}">
{% endblock %}

{% block body %}
    <div id="diffResult"></div>
{% endblock %}
