{% extends "user/base-users.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block users_media %}
    {% if is_ICPC_format %}
        {% include "contest/media-icpc-css.html" %}
    {% else %}
        {% include "contest/media-css.html" %}
    {% endif %}

    <style>
        .select2-selection__arrow {
            display: none;
        }

        .select2-selection__rendered {
            cursor: text;
            overflow: initial !important
        }

        .select2-results__option {
            white-space: nowrap;
        }

        #search-contest, #search-contest + .select2 {
            margin-top: 0.5em;
        }

        #search-contest {
            width: 200px;
            height: 2.3em;
        }

        .filter-checklist-button {
            float: right;
        }
    </style>
{% endblock %}

{% block users_js_media %}
    <script 
        src="{{ static('bundled/contest/ranking/main.js') }}" 
        data-tab="{{ tab }}" 
        data-show-virtual="{{ 'true' if show_virtual else 'false' }}"
        data-contest-key="{{ contest.key }}"
        data-url="{{ url('contest_participation', contest.key, '__username__') }}"
        data-search-contest-url="{{ url('contest_user_search_select2_ajax', contest.key) }}"
        data-select2-theme="{{ DMOJ_SELECT2_THEME }}"
        data-i18n-search-org-placeholder="{{ _('Search organizations') }}"
        data-i18n-confirm-disqualify-participation="{{ _('Are you sure you want to disqualify this participation?') }}"
        data-i18n-confirm-undisqualify-participation="{{ _('Are you sure you want to un-disqualify this participation?') }}"
    ></script>
    {% if not contest.ended %}
        <script 
            src="{{ static('bundled/contest/ranking/ongoing.js') }}"
            data-tab="{{ tab }}"
        ></script>
    {% endif %}
    {% include "contest/media-js.html" %}
{% endblock %}

{% block before_users_table %}
    <div style="margin-bottom: 1.25em">
        {% if tab == 'participation' %}
            {% if contest.can_see_full_scoreboard(request.user) %}
                <input id="search-contest" type="text" placeholder="{{ _('View user participation') }}">
            {% endif %}
        {% endif %}
        {% if tab == 'ranking' %}
            <div id="org-dropdown-check-list">
                <button id="filter-by-organization-button" class="inline-button">
                    <i class="tab-icon fa fa-filter"></i>
                    <b>{{ _('Filter') }}</b>
                </button>

                <div id="org-check-list-wrapper">
                    <div>
                        <button id="apply-organization-filter" class="inline-button filter-checklist-button">{{ _('Apply') }}</button>
                        <button id="clear-organization-filter" class="inline-button filter-checklist-button">{{ _('Clear') }}</button>
                    </div>
                    <select id="org-check-list" name="orgs[]" multiple="multiple"></select>
                </div>
            </div>
        {% endif %}
        {% if tab != 'official_ranking' %}
            <input id="show-personal-info-checkbox" type="checkbox" style="vertical-align: bottom">
            <label for="show-personal-info-checkbox" style="vertical-align: bottom">{{ _('Show full name/organization') }}</label>
        {% endif %}
        {% if tab == 'ranking' %}
            <input id="show-virtual-participations-checkbox" type="checkbox" style="vertical-align: bottom">
            <label for="show-virtual-participations-checkbox" style="vertical-align: bottom">{{ _('Show virtual participations') }}</label>
            {% if not is_ICPC_format %}
            <a href="#" onclick="window.downloadTableAsCsv()" style="float: right;">{{ _('Download as CSV') }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block users_table %}
    {{ rendered_ranking_table }}
{% endblock %}

{% block body %}
    {% if is_frozen %}
    <div class="alert-warning">
        <p style="padding: 10px; text-align: center">
        <a class="close" id="frozen_alert">x</a>
        {%- trans frozen_minutes=contest.frozen_last_minutes -%}
            The scoreboard was frozen with {{frozen_minutes}} minutes remaining - submissions in the last {{frozen_minutes}} minutes of the contest are still shown as pending.
        {%- endtrans -%}
    </p></div>
    {% endif %}
    {% if not contest.ended and cache_timeout %}
        <div class="alert-warning alert-dismissable">
            <p style="padding: 10px; text-align: center">
            <a class="close" id="cache_alert">x</a>
            {%- trans -%}
                The scoreboard is cached for {{cache_timeout}} seconds, your submission might take some time before it appears here.
            {%- endtrans -%}
            </p>
        </div>
    {% endif %}
    {{ super() }}
    {% if is_ICPC_format %}
    <table id="cell_legend" class="table" style="width: 10em; margin-left: 0">
        <thead>
            <tr>
                <th scope="col">{{_('Cell colours')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="first-solve">
                <td>{{_('Solved first')}}</td>
            </tr>
            <tr class="full-score">
                <td>{{_('Solved')}}</td>
            </tr>
            <tr class="failed-score">
                <td>{{_('Tried, incorrect')}}</td>
            </tr>
            <tr class="pending">
                <td>{{_('Tried, pending')}}</td>
            </tr>
            <tr>
                <td>{{_('Untried')}}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}
