{% extends "base.html" %}
{% block media %}{% endblock %}

{% block js_media %}
    <script 
        src="{{ static('bundled/ticket/list/main.js')}}"
        data-filter-user-ids="{{ filter_status.user_id }}"
        data-filter-own-id="{{ filter_status.own_id }}"
        data-filter-assignee-ids="{{ filter_status.assignee_id }}"
        data-new-ticket-url="{{ url('ticket_ajax') }}"
        data-select2-theme="{{ DMOJ_SELECT2_THEME }}"
        data-ticket-user-select2-url="{{ url('ticket_user_select2_ajax') }}"
        daat-ticket-assignee-select2-url="{{ url('ticket_assignee_select2_ajax') }}"
    ></script>

    {% if EVENT_LAST_MSG %}
        <script src="{{ static('bundled/ticket/list/dynamic.js') }}"></script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if page_obj.has_other_pages() %}
        <div class="top-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
    <div id="ticket-list-container">
        <aside>
            <div>
                <div id="notification-box">
                    <input id="notification" type="checkbox">
                    <label for="notification">{{ _('Use desktop notification') }}</label>
                </div>

                <form id="filter-form" name="form" action="" method="get">
                    <div id="open-box" class="filter-check">
                        <input id="open" type="checkbox" name="open"{% if filter_status.open %} checked{% endif %} value="1">
                        <label for="open">{{ _('Hide closed tickets') }}</label>
                    </div>

                    <div id="own-box" class="filter-check">
                        <input id="own" type="checkbox" name="own"{% if filter_status.own %} checked{% endif %} value="1">
                        <label for="own">{{ _('Show my tickets only') }}</label>
                    </div>

                    <div id="user-box" class="filter-select2">
                        <label for="filter-user">{{ _('Filing user') }}</label>
                        <select id="filter-user" style="width: 100%" multiple name="user">
                            {% for username in filter_status.user %}
                                <option value="{{ username }}" selected>{{ username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="assignee-box" class="filter-select2">
                        <label for="filter-user">{{ _('Assignee') }}</label>
                        <select id="filter-assignee" style="width: 100%" multiple name="assignee">
                            {% for username in filter_status.assignee %}
                                <option value="{{ username }}" selected>{{ username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" style="margin-left: auto" class="submit">{{ _('Go') }}</button>
                </form>
            </div>
        </aside>

        <main>
            <div class="h-scrollable-table">
                <table id="ticket-list" class="table striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ _('ID') }}</th>
                        <th>{{ _('Title') }}</th>
                        <th>{{ _('User') }}</th>
                        <th>{{ _('Assignees') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        {% include "ticket/row.html" %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    {% if page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
{% endblock %}
