{% extends "base.html" %}
{% block media %}{{ form.media.css }}{% endblock %}

{% block js_media %}
    {{ form.media.js }}
    <script 
        src="{{ static('bundled/ticket/ticket/main.js') }}" 
        data-ticket-id="{{ ticket.id }}" 
        data-ticket-message-url="{{ url('ticket_message_ajax', ticket.id) }}"
    ></script>

    {% if EVENT_LAST_MSG %}
        <script src="{{ static('bundled/ticket/ticket/dynamic.js') }}"></script>
    {% endif %}
{% endblock %}

{% block content_title %}
    <div class="ticket-title">
        <div class="vote-status">
            <i class="fa {% if ticket.is_contributive %}fa-arrow-up{% else %}fa-minus{% endif %}"></i>
        </div>
        <div class="status">
            <i class="fa {% if ticket.is_open %}fa-exclamation-circle{% else %}fa-check-circle-o{% endif %}"></i>
        </div>
        <div class="title">{{ ticket.title }}</div>
        <small>#{{ ticket.id }}</small>
    </div>
{% endblock %}

{% block body %}
    <div class="ticket-container">
        <div class="ticket-messages">
            <main id="messages">
                {% for message in ticket_messages %}
                    {% include "ticket/message.html" %}
                {% endfor %}
            </main>
            <hr>
            <section class="ticket-message new-message">
                <div class="info">
                    <a href="{{ url('user_page', request.user.username) }}" class="user">
                        <img src="{{ gravatar(request.user, 80) }}" class="user-gravatar">
                    </a>
                </div>
                <div class="detail">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors() or form.body.errors %}
                            <div class="form-errors">
                                {{ form.non_field_errors() }}
                                {{ form.body.errors }}
                            </div>
                        {% endif %}
                        <div class="body-block">{{ form.body }}</div>
                        <input style="float:right" type="submit" value="{{ _('Post!') }}" class="button">
                    </form>
                </div>
            </section>
        </div>
        <aside class="ticket-sidebar">
            <div class="ticket-info">
                <div class="info-box">
                    <div class="info-title">{{ _('Associated object') }}</div>
                    <div class="info-data">
                        <a href="{{ ticket.linked_item.get_absolute_url() }}">{{ ticket.linked_item }}</a>
                    </div>
                </div>
                <div class="info-box">
                    <div class="info-title">
                        {% trans trimmed count=assignees|length %}
                            Assignee
                        {% pluralize %}
                            Assignees
                        {% endtrans %}
                    </div>
                    <div class="info-data">
                        {% if assignees %}
                            {{ link_users(assignees) }}
                        {% else %}
                            <div class="info-empty">{{ _('No one is assigned.') }}</div>
                        {% endif %}
                    </div>
                </div>

                {% if perms.judge.change_ticket or request.profile in assignees %}
                    <div class="info-box">
                        <div class="info-title">{{ _('Assignee notes') }}
                            <a href="#" data-featherlight="{{ url('ticket_notes', ticket.id) }}" class="edit-notes">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                        <div id="ticket-notes" class="info-data">
                            <div{% if ticket.notes %} style="display: none"{% endif %} class="info-empty">
                                {{ _('Nothing here.') }}
                            </div>
                            <div class="info-real">{{ ticket.notes|linebreaks }}</div>
                        </div>
                    </div>

                    <button data-ajax="{{ url('ticket_good', ticket.id) }}" data-contributive="1" class="vote-good"
                        {% if ticket.is_contributive %}style="display: none"{% endif %}>{{ _('Upvote') }}</button>
                    <button data-ajax="{{ url('ticket_norm', ticket.id) }}" data-contributive="0" class="vote-norm"
                        {% if not ticket.is_contributive %}style="display: none"{% endif %}>{{ _('Undo vote') }}</button>
                {% endif %}

                <button data-ajax="{{ url('ticket_close', ticket.id) }}" data-open="0" class="close-ticket"
                        {% if not ticket.is_open %}style="display: none"{% endif %}>{{ _('Close ticket') }}</button>
                <button data-ajax="{{ url('ticket_open', ticket.id) }}" data-open="1" class="open-ticket"
                        {% if ticket.is_open %}style="display: none"{% endif %}>{{ _('Reopen ticket') }}</button>
            </div>
        </aside>
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
