{% extends "base.html" %}

{% block media %}
    <style>
        .copy-clipboard {
            margin-top: 0 !important;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('bundled/problem/yaml.js') }}"></script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="source-wrap">
        <table>
            <tr>
                <td class="source-ln">
                    <div>
                        {% for line in raw_source.split('\n') %}
                            <a href="#line-{{ loop.index }}" name="line-{{ loop.index }}">
                                <pre>{{ loop.index }}</pre>
                            </a>
                        {% endfor %}
                    </div>
                </td>
                <td class="source-code">{{ highlighted_source }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
