<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Progress - {{ SITE_LONG_NAME }}</title>
    <link rel="stylesheet" href="{{ static('task_status.css') }}">
    <script src="{{ static('prebundled/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ static('bundled/task-status.js') }}" data-task-status-ajax="{{ url('task_status_ajax') }}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron" data-task-id="{{ task_id }}" data-task-status="{{ task_status }}"
         data-redirect="{{ redirect }}">
        <img src="{{ static('icons/icon.svg') }}" class="icon" alt="DMOJ Icon">
        <p class="action">{{ message }}</p>
        <p class="stage"></p>

        <div class="progress progress-known">
            <div class="progress-bar" role="progressbar" aria-valuemin="0"></div>
            <div class="progress-text"></div>
        </div>
        <div class="progress progress-unknown">
            <div class="progress-bar progress-bar-animated" role="progressbar"></div>
        </div>
        <div class="progress progress-complete">
            <div class="progress-bar" role="progressbar">{{ _('Completed!') }}</div>
        </div>
        <div class="progress progress-failed">
            <div class="progress-bar" role="progressbar">{{ _('Failed!') }}</div>
        </div>
    </div>
</div>
</body>
</html>
