<script src="{{ static('bundled/dmmd-preview.js') }}"></script>
<script
    src="{{ static('bundled/comments/base-media-js.js') }}"
    data-upvote-comment-url="{{ url('comment_upvote') }}"
    data-downvote-comment-url="{{ url('comment_downvote') }}"
    data-hide-comment-url="{{ url('comment_hide') }}"
    data-i18n-reply-comment="{{ _('Replying to comment') }}"
    data-i18n-confirm-code="{{ _('Looks like you\'re trying to post a source code!\n\nThe comment section are not for posting source code.\nIf you want to submit your solution, please use the \'Submit solution\' button.\n\nAre you sure you want to post this?') }}"
    data-i18n-edit-text="{{ _('edit {edits}') }}"
    data-i18n-failed-to-edit-comment="{{ _('Could not edit comment: {error}') }}"
    data-i18n-failed-to-vote="{{ _('Could not vote: {error}') }}"
    data-i18n-confirm-hide-comment="{{ _('Are you sure you want to hide this comment?') }}"
    data-i18n-failed-to-hide-comment="{{ _('Could not hide comment.') }}"
    data-i18n-failed-to-update-comment-body="{{ _('Failed to update comment body.') }}"
    data-i18n-original="{{ _('original') }}"
    data-i18n-edited="{{ _('edited') }}"
></script>
