{% extends "user/base-users.html" %}

{% block js_media %}
    {% block users_js_media %}{% endblock %}
    <script 
        src="{{ static('bundled/user/contrib-list.js') }}"
        data-select2-theme="{{ DMOJ_SELECT2_THEME }}"
        data-user-search-url="{{ url('user_search_select2_ajax') }}"
        data-user-contributor-redirect="{{ url('user_contributor_redirect') }}"
    ></script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'contributor' %}
    {% include "user/user-list-tabs.html" %}
{% endblock %}

{% block users_table %}
    {% include "user/contrib-table.html" %}
{% endblock %}
